<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizVerse</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        .b1 {
            background-color: white;
            color: #007bff;
            transition: 0.27s;
        }
        .b1:hover {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container1">
        <div class="container2"> 
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center;">QuizVerse</h1>
            <form type="submit" method="post">
                <h2>Login.</h2>
                <label for="userEmail"></label>
                <input type="email" id="userEmail" name="userEmail" placeholder="Email" required>
                <br>
                <label for="userEmailPass"></label>
                <input type="password" id="userEmailPass" name="userEmailPass" placeholder="Password" required>
                <br>
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account?</p>
            <a href="/signup"><button class="b1" type="button">Sign Up here</button></a>
        </div>
    </div>
    <% if (locals.errorMessage) { %>
        <script>
            alert("<%= errorMessage %>");
        </script>
    <% } %>
</body>
</html>
